<%= link_to "Volver", :back , :class => "btn btn-inverse" %><br><br>
<h1>Editar Pregunta</h1>

<div class="row">

<div class="well span8 offset2 text-center">
<%= simple_form_for @question,:html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
<div class="row">
        <div class=""></div>
        <div class="span4">
       		<div class="row">
        	<div class="span1">
        		Titulo 
        	</div>
        	<div class="span3">
    			<%= f.input_field :title, :label => 'Pregunta', :placeholder => 'Escribe tu pregunta aquí', :autofocus => true %><br><br>
        	</div>
        	</div>

        	<div class="row">
        	<div class="span1">
        		Contenido 
        	</div>
        	<div class="span3">
    			<%= f.text_area :text, :class =>"input-xxlarge", :size => '30x5', :label => 'Contenido', :placeholder => 'Más información sobre la pregunta.'%><br><br>
        	</div>
        	</div>
    		<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.button :submit, "Registrar", :class => "btn btn-inverse" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>
