<%= link_to "Volver", :back , :class => "btn btn-inverse" %><br><br>
<h1><%= @question.title %></h1>
  Hace <%= time_ago_in_words @question.created_at %>
  por <%= link_to @question.user.username, @question.user %>
<p>
<% if current_user.id == @question.user_id %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
	<%= link_to 'Delete', @question, :method => :delete, :confirm => "Esta seguro?" %> |
<% end %>
<%= link_to 'Back', questions_path %>
</p>

<h5><%= @question.qcomments.count %> Comentarios</h5>
<% @question.qcomments.each do |qcomment| %>
  	<p><%= link_to qcomment.user.username, qcomment.user %>:
	<%= qcomment.text %>
	<br>Hace <%= time_ago_in_words qcomment.created_at %> 
  	<% if current_user.id == qcomment.user_id %>
	<%= link_to 'Eliminar comentario', [@question, qcomment], :method => :delete, :confirm => "Esta seguro?" %>
	</p>
	<% end %>
<% end %>

<%= simple_form_for [@question, @question.qcomments.build] do |f| %>
  <%= f.error_notification %>

    <%= f.text_area :text, :size => '30x1'%><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.button :submit, "Hacer comentario"%>
<% end %>