<h2 class="text-center">Registro</h2>
<div class="row">

<div class="well span8 offset2 text-center">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => { :class => "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

      <div class="row">
        <div class="span1"></div>
        <div class="span4">
    <%= f.input :username, :label => 'Nombre de Usuario', :placeholder => 'login', :required => true, :autofocus => true %>
    <%= f.input :name, :placeholder => 'nombre', :label => 'Nombre', :required => true %>
    <%= f.input :lname, :placeholder => 'apellido', :label => 'Apellido', :required => true %>
    <%= f.input :email, :required => true, :placeholder => 'email', :label => 'Correo electrónico' %>
    <%= f.input :password, :required => true, :placeholder => 'contraseña', :label => 'Contraseña' %>
    <%= f.input :password_confirmation, :required => true, :placeholder => 'contraseña de nuevo', :label => 'Repita la contraseña' %>

  <div class="actions">
    <%= f.button :submit, "Registrarse", :class => "btn btn-inverse" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>
