<%= link_to "Volver", :back , :class => "btn btn-inverse" %><br><br>
<h1>Usuarios</h1>

<div class="well row">
  <% @users.in_groups_of(3, false).each do |row_users| %>
    <div class = "row">
    <% for user in row_users %>
    <div class="well span3">
      <div class="text-center">
        <%= image_tag user.avatar.url(:thumb) , :class => "img-circle" %><br>
        <%= link_to user.email, user %>
        <p>
          <%= time_ago_in_words user.created_at %> ago
        </p>
        <% if user_signed_in? %>
        <p>
          <% if current_user.following?(user) %>
            <%= link_to "Dejar de seguir", follow_destroy_path(:user_id => user.id) %>
          <% elsif current_user.name == user.name %>
            Este eres tú 
          <% else %>
            <%= link_to "Seguir", follow_create_path(:user_id => user.id)%> 
          <%  end %> | <%= link_to 'Show', user %> | Ver preguntas o respuestas hechas...
        </p>
        <% end %>
      </div>
    </div>
    <% end %>
    </div>
  <% end %>
</div>

