<Legend>Iniciar Sesi칩n</Legend>
<div class="row">
<div class="well span9 offset1 text-center">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>

	<div class="row">
    	<div class="span2"></div>
        <div class="span4">
    		<%= f.input :login, :label => 'Nombre de Usuario o Correo', :required => false, :autofocus => true, :placeholder => 'login' %>
    		<%= f.input :password, :required => false, :placeholder => 'contrase침a', :label => 'Contrase침a' %>
    		<%= f.input :remember_me, :label => 'Recordar Datos', :as => :boolean if devise_mapping.rememberable? %>
    		<%= f.button :submit, "Iniciar Sesi칩n" %>
	<% end %>
<%= render "links" %>

</div>
</div>
</div>
</div>