<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><!-- Collapsable nav bar -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Your site name for the upper left corner of the site -->
      <%= link_to "HazTuPregunta", root_path, {:class => 'brand'}, { :title => "Inicio" } %>
      
      <div class="nav-collapse"><!-- Other nav bar content -->
        <ul class="nav">
          <li>
            <%= link_to "Usuarios", users_path, { :title => "Ver Usuarios" } %>
          </li>
        </ul>
      </div>

      <!-- Start of the nav bar content -->
      <div class="nav-collapse"><!-- Other nav bar content -->

      <!-- The drop down menu -->
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li>
          <%= link_to raw(current_user.name+' <i class="icon-user"></i>'), user_path(current_user), { :title => "Ver mi Perfil" }  %>
          </li>
          <li>
          <%= link_to raw(current_user.received_messages.unreaded.count.to_s+' <i class="icon-comment"></i>'), message_show_path(:user_id => current_user), { :title => "Notificaciones" }  %>
          </li>
        <% else %>
          <li>
          <%= link_to(raw('Registrarse <i class="icon-edit"></i>'), new_user_registration_path)  %>
          </li>
        <% end %>
        <li class="divider-vertical"></li>

        <% if user_signed_in? %>
          <li>
          <%= link_to raw('Cerrar Sesión <i class="icon-off"></i>'), destroy_user_session_path, :method=>'delete'%>
          </li>
        <% else %>
          <li class="drop down">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Iniciar Sesión <i class="icon-chevron-down"></i></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <!-- Login form here -->
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <%= f.input :login, :label => 'Nombre de Usuario o Correo', :required => false, :autofocus => true, :placeholder => 'login' %>
              <%= f.input :password, :required => false, :placeholder => 'contraseña', :label => 'Contraseña' %>
              <label class="checkbox">
                <%= f.input :remember_me, :label => 'Recordar Datos', :as => :boolean if devise_mapping.rememberable? %>
              </label>
              <%= f.button :submit, "Iniciar Sesión" %>
              <% end %>
              <%= render "devise/links" %><br>
            </div>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>

<script>
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
    e.stopPropagation();
});
</script>